<!DOCTYPE html>
<html>
    <head>
        <title>AMS</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <i id="logo" class="code icon"></i>AMS
                </div>
            </div>
            <a href="/" class="item">Home</a>
            <a href="#" class="item">Sign in</a>
            <a href="#" class="item">Log Out</a>
        </div>
        